.main_banner {
    margin-top: 80px;
}

.banner {
    width: 100%;
    margin: 0 auto;
    pointer-events: none;

}
.banner>img {
    width: 100%;
}

.news {
    padding-top: 100px;
}

.news-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-title {
    font-size: 0;
    display: none;
}

.news-title__box > img {
    pointer-events: none;
}

.news-list {
    width: 50%;
    max-height: 360px;
    min-height: 200px;
    margin: 0 auto;
    padding-right: 20px;
    box-sizing: border-box;
}

.news-item {
    height: 60px;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #468d80;
    cursor: pointer;
}

.news-item:hover .news-item__title {
    color: #115159;
}

.news-item__date {
    margin-bottom: 10px;
    font-size: 14px;
}

.news-item__title {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #468d80;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .news-list {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .news-list {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .news-list {
        width: 90%;
    }

    
    .news-title__box > img {
        height: 35px;
    }
}


/* route */
.route {
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.route-content {
    width: 90%;
    text-align: center;
    margin: 0 auto 30px auto;
    line-height: 2;
    font-size: 18px;
}

.route-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route-title {
    font-size: 0;
    display: none;
}

.route-title__box > img {
    pointer-events: none;
}

.route-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.route-item {
    width: 300px;
    height: 280px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #f6eee1;
    cursor: pointer;
    transition: all .3s;
}

.route-item:hover {
    border: 1px solid #468d80;
}

.route-item > p {
    text-align: center;
    margin-top: 10px;
    height: 12px;
}

.route-item span {
    position: relative;
    margin-right: 8px;
    padding-right: 3px;
    height: 12px;
}

.route-item span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background-color: #468d80;
}

.route-img {
    background-image: url(../images/route.png);
    background-repeat: no-repeat;
    height: 212px;
    width: 236px;
    margin: 0 auto;
}

.route-item:nth-child(1) .route-img {
    background-position: 0 0;
}
.route-item:nth-child(2) .route-img {
    background-position: -248px 0;
}
.route-item:nth-child(3) .route-img {
    background-position: -497px 0;
}
.route-item:nth-child(4) .route-img {
    background-position: -745px 0;
}
.route-item:nth-child(5) .route-img {
    background-position: 0px -208px;
}
.route-item:nth-child(6) .route-img {
    background-position: -248px -208px;
}
.route-item:nth-child(7) .route-img {
    background-position: -497px -208px;
}
.route-item:nth-child(8) .route-img {
    background-position: -745px -208px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .route-list {
        width: 90%;
    }
    
}

@media screen and (max-width: 767px) {
    .route-title__box > img {
        height: 35px;
    }
}

/* route info*/
.info {
    position: relative;
    z-index: 2;
    margin: 130px 0 100px 0;
}

.info-carousel-box {
    width: 100%;
    padding: 20px 0;
}

.info-carousel-box_route {
    height: 526px;
}

.info-carousel {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.info-carousel__link {
    outline: none;
}

.info-carousel__img {
    width: 100%;
    height: auto;
}

.info-carousel__title {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: #6f6f6f;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    outline: none;
    width: 50px;
    height: 50px;
    border: none;
    opacity: .7;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.carousel-button > svg > path {
    fill: #468d80;
}

.prev-button > svg {
    transform: rotate(180deg);
}

.carousel-button:hover {
    opacity: 1;
}


.prev-button {
    left: 10px;
    z-index: 2;
}

.next-button {
    right: 10px;
}

.dots-item {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dots-item > li {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    display: flex;
}

.dots-item button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #f6eee1;
    font-size: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.dots-item > .slick-active {
    background-color: #fff;
    border-radius: 50%;
}


.info-carousel__wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.info-carousel__wrapper> img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
}

.dots-item > .slick-active >  button{
    background-color: #468D80;
}

.slick-list {
    height: 100%;
}

.info-content-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-content-box > h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    position: relative;
    padding: 0 10px;
}

.info-content-box > h3::before , .info-content-box > h3::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #448578;
    top: 50%;
    transform: translateY(-50%);
}

.info-content-box > h3::before {
    left: 0;
}

.info-content-box > h3::after {
    right: 0;
}

.info-content-box > p{
    white-space: pre-wrap;
    text-align: center;
    line-height: 30px;
}

.info-content-box_news > p {
    text-align: left;
}

.info-content-box_news a {
    text-decoration: underline;
    color: #468d80;
}

.info-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item__img {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.info-item__img > img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-btn {
    display: block;
    width: 180px;
    height: 30px;
    border-radius: 500px;
    background-color: #448578;
    border: 1px solid #f6eee1;
    background-image: url(../images/routeinfobtn.png);
    transition: all .3s;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 80px;
}

.info-btn:hover {
    background-color: #f6eee1;
    border: 1px solid #448578;
    background-position-y: -30px;
}


.info-btn > p {
    font-size: 0;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-button {
        width: 30px;
        height: 30px;
    }

    .info-carousel__wrapper {
        height: 400px;
    }

    .info-list {
        flex-direction: column;
    }
    

    .info-item {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 384px) and (max-width: 767px) {
    .info-carousel {
        width: 95%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 15px;
    }

    .info-carousel__wrapper {
        height: 300px;
    }

    .carousel-button {
        width: 30px;
        height: 30px;
    }

    .dots-item { 
        bottom: 10px;
    }
    
    .dots-item > li { 
        width: 10px;
        height: 10px;
    }

    .main-list .hotspring-img-box {
        width: 90%;
    }

    .info-content-box {
        width: 90%;
    }
    
    .info-list {
        flex-direction: column;
    }
    

    .info-item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 384px) {
    .info-list__item {
        width: 130px;
        margin: 10px 5px;
    }

    .carousel-button {
        width: 30px;
        height: 30px;
    }

    .info-carousel__wrapper {
        height: 200px;
    }

    .info-list__list {
        padding: 30px 15px 30px 15px;
    } 

    .info-carousel {
        width: 95%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 15px;
    }

    .main-list .hotspring-img-box {
        width: 90%;
    }

    .info-content-box {
        width: 90%;
    }

    .info-list {
        flex-direction: column;
    }
    

    .info-item {
        margin-bottom: 30px;
    }
}

/*activity*/
.activity {
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.activity-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-title {
    font-size: 0;
    display: none;
}

.warn-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: right;
}

.activity-box {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #468d80;
}

.activity-list {
    display: flex;
    align-items: center;
    width: 100%;
}

.activity-list:first-child {
    background-color: #468d80;
}

.activity-list:first-child p {
    color: #fff;
}

.activity-list:not(:last-child) {
    border-bottom: 1px solid #468d80;
}

.activity-box-mobile {
    width: 90%;
    display: none;
}

.activity-item {
    min-height: 60px;
    display: flex;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.activity-mobile-item:first-child {
    background-color: #468d80;
}

.activity-mobile-item:first-child > p{
    color: #fff;
}

.activity-mobile-item:not(:last-child) {
    border-bottom: 1px solid #468d80;
}

.activity-item p {
    width: 100%;
    text-align: center;
    line-height: 22px;
}

.activity-item a, .activity-mobile-item a {
    width: 100%;
    text-align: center;
    line-height: 22px;
    color: #468D80;
    cursor: pointer;
    text-decoration: underline;
}

.activity-mobile-item  {
    min-height: 60px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.activity-mobile-item > p {
    width: 100%;
    text-align: center;
    line-height: 22px;
}

.activity-mobile-item span {
    margin-right: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
}

.activity-mobile-item span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 20px;
    background-color: #468d80;
}


@media screen and (min-width: 992px) and (max-width: 1280px) {
    .activity-box {
        width: 90%;
    }

    .warn-text {
        width: 90%;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .activity-box {
        display: none;
    }

    .activity-box-mobile {
        display: block;
    }

    .warn-text {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .activity-box {
        display: none;
    }

    .activity-box-mobile {
        display: block;
    }

    .warn-text {
        width: 90%;
        font-size: 12px;
    }
}

/*theme activity*/
.theme {
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.theme-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-title {
    font-size: 0;
    display: none;
}

.theme-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme-box > h3 {
    text-align: center;
    font-size: 30px;
    padding: 0 20px;
    border-left: 2px solid #468d80;
    border-right: 2px solid #468d80;
}

.theme-box > p {
    margin-top: 50px;
    width: 100%;
    padding: 0 20px 50px 20px; 
    box-sizing: border-box;
    white-space: pre-wrap;
    border-bottom: 1px solid #c8c8c8;
    line-height: 27px;
}

.theme-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.theme-date {
    flex: 1;
}

.theme-date__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 45px;
    padding: 10px 0;
}

.theme-date__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-image: url(../images/icon.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -23px -21px;
}

.theme-date__item:nth-child(2):before {
    background-position: -16px -107px;
    width: 53px;
    height: 53px;
    left: -8px;
}

.theme-date__item > p {
    line-height: 2  5px;
    margin-left: 50px;
}

.theme-btn {
    flex: 1;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.theme-btn_close {
    pointer-events: none;
    background-color: #c8c8c8;
}

.theme-btn_open {
    background-color: #468d80;
    color: #fff;
}

.theme-btn_open:hover {
    opacity: .8;
}

.theme-btn_null {
    background-color: #8d4646;
    color: #fff;
    pointer-events: none;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .theme-box {
        width: 90%;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .theme-box {
        width: 90%;
    }

    .theme-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .theme-date {
        width: 80%;
    }

    .theme-btn {
        margin-top: 30px;
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .theme-box {
        width: 95%;
    }

    .theme-box > h3 {
        font-size: 25px;
    }

    .theme-box > p {
        font-size: 14px;
    }
    
    .theme-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .theme-date {
        width: 80%;
    }

    .theme-btn {
        margin-top: 30px;
        width: 80%;
    }
}


/*videos*/
.videos {
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.videos-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos-title {
    font-size: 0;
    display: none;
}

.videos-box {
    width: 70%;
    margin: 0 auto;
}

.videos-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.videos-item {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
}

.videos-item > p {
    margin-top: 10px;
}

.videos-item__img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.videos-item__img > img {
    width: 100%;
}

.videos-item__video {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}

.videos-item__video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-box__btn {
    width: 120px;
    height: 35px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-bottom: 10px;
    border-radius: 500px;
    cursor: pointer;
    display: block;
}

.top-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 50px;
    background-color: #468d80;
    cursor: pointer;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.top-btn:hover {
    opacity: 1;
}

.top-btn > svg {
    width: 50px;
    height: 50px;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linejoin: round;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .videos-item {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .videos-box {
        width: 90%;
    }

    .videos-item {
        width: 100%;
    }
}

/*map*/
.map {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.map-title__box {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-title {
    font-size: 0;
    display: none;
}

.map-box {
    position: relative;
}

.map-box_mobile {
    display: none;
}

.map-box > img {
    width: 100%;
    height: auto;
}

.testsvg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: default;
}

.map-path {
    cursor: pointer;
} 

.map-img {  
    pointer-events: none;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.map-path:hover ~.map-img {
    transform: scale(1.05);
    z-index: 99;
}

.map-path_hover {
    transform: scale(1.05);
    z-index: 99;
}

/* news-info */
.info-title__box {
    width: 80%;
    margin: 0 auto;
}

.info-content-title__info {
    font-size: 28px;
    margin-bottom: 30px;
}

.info-content-date__info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #7b7b7b;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
    padding-left: 10px;
}

.box {
    position: absolute;
    top:  10px;
    height: 30px;
    width: 160px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px #00000030;
    overflow: hidden;
}

/* relatedinfo */
.main_relared-info {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-top: 130px;
}

.main_relared-info > h1 {
    font-size: 25px;
    position: relative;
    padding: 0 10px;
    margin-bottom: 50px;
}

.main_relared-info > h1::before , .main_relared-info > h1::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #C37E7A;
    top: 50%;
    transform: translateY(-50%);
}

.main_relared-info > h1::before {
    left: 0;
}

.main_relared-info > h1::after {
    right: 0;
}

.main_relared-info > article {
    width: 100%;
}

.main_relared-info > article:not(:nth-child(2)) {
    padding-top: 80px;
}

.relared-info__box {
    border-radius: 16px;
    border: 1px solid #C37E7A;
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
    background-color: #fff;
    padding: 25px 15px;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
}

.relared-info__box_attractions {
    padding: 0;
    min-height: auto;
    background-color: #f6eee1;
}

.img-box {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 20px;
}

.relared-info__box_attractions .img-box img, .img-box_shop .img-box img {
    width: 100%;
    display: block;
}

.img-box_shop .img-box img {
    margin-bottom: 30px;
}

.lg-backdrop {
    background-color: #4b4b4b !important;
}

.lg-backdrop.in {
    opacity: .5 !important;
}

.relared-info__img {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #C37E7A;
    border-radius: 8px;
}

.relared-info__list {
    margin-bottom: 25px;
}

.relared-info__list-title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    color: #468d80;
    display: block;
}

.relared-info__list-content {
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.relared-info__list-content p {
    white-space: break-spaces;
}

.relared-info__list-content p:nth-child(1) {
    margin-bottom: 5px;
}

.relared-info__group {
    margin-bottom: 20px;
}

.relared-info__title {
    font-size: 16px;
    margin-bottom: 10px;
}

.relared-info__text {
    font-size: 14px;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
}

.relared-info__btn {
    margin-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid #C37E7A;
    color: #C37E7A;
}

.alert-title {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    font-size: 14px;
    display: none;
}

@media screen and (min-width: 768px) {
    .lg-outer .lg-img-wrap .lg-image {
        max-width:100vw;
        max-height: 100vh;
        width: 80vw !important;
    }
}

@media screen and (max-width: 996px) {
    .alert-title {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main_relared-info {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .relared-info__box {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
    .main_relared-info {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .relared-info__box {
        width: 95%;
    }
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.related-btn {
    width: 120px;
    height: 30px;
    background-color: #C37E7A;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.related-btn:hover {
    opacity: .8;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    margin-bottom: 0;
    object-fit: cover;
}

.title-svg {
    font:  12px 'Noto Sans TC';
    fill: #575757;
}

.text-svg {
    font:  10px 'Noto Sans TC';
    fill: #fff;
}

.btn-svg {
    cursor: pointer;
}

.btn-svg:hover>.bg-svg {
    opacity: .8;
}

.making-box {
    min-height: 400px;
}

.making-box > p {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 1056px) {
    .map-box_mobile {
        display: block;
    }

    .map-box_show {
        display: none;
    }
}
